body {
    background-color: rgb(246, 224, 199);
    color: rgb(70, 51, 21);
    font-family: Arial;
    margin: 10px;
    text-decoration: none;
}

a {
    color:rgb(26, 169, 83);
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color:rgb(53, 67, 226);
}

a:visited {
    color:rgb(228, 48, 48);
}

a:hover {
    color:rgb(14, 187, 167);
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}
