body {
    background-color: rgb(246, 224, 199);
    color: rgb(70, 51, 21);
    font-family: Arial;
    margin: 10px;
    text-decoration: none;
}

a {
    color:rgb(26, 169, 83);
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color:rgb(53, 67, 226);
}

a:visited {
    color:rgb(228, 48, 48);
}

a:hover {
    color:rgb(14, 187, 167);
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 5px solid #39e0398d;
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #0dea8710;
    box-shadow: 0 0 30px #00000030;
}

div.h11 {
    text-align: center;
}

footer {
    background-color: rgb(237, 182, 123);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

main {
    margin: 10px 20px 56px;
}
